@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Work+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
p {
  font-weight: 700;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  padding: 0;
}
a {
  text-decoration: none;
}
